footer{
    position: fixed;
    bottom: 0;
    background-color: #267240;
    display: flex;
    justify-content: flex-end;
    height: 85px;
    width: 100%;

}
.footer-links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 300px;
}
.footer-links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
.footer-links p{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-footer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* --- Responsive --- */
@media (max-width: 1024px) {
    .footer-links{
        margin: 0 150px;
        gap: 60px;
        padding: 0;
    }
}

@media (max-width: 426px) {
    .footer-links {
        margin: 0 10px;
        gap: 15px;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer-links p {
        font-size: 12px;
    }
}