/* Body */
body {
    margin: 0;
    background-color: #F0F0F0;
    font-family: "Open Sans", sans-serif;
}

/* Barre de navigation */
header{
    position: fixed;
    top: 0;
    background-color: #267240;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 100%;
}

.logo{
    width: 60x;
    height: 60px;
    border-radius: 50%;
}

.nav-head a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.rechercher, .menu{
    display: flex;
    align-items: center; 
}

.nav-head {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
}

.nav-links{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;

}

.menu-img {
    width: 75px;
    cursor: pointer;
    display: inline-block;
}

.loupe{
    height: 30px;
}

/* Menu box déroulant */         
.menu-box{
    position: fixed;
    right: 0;
    margin-top: 85px;
    margin-right: 300px;
    height: 115px;
    width: 130px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
}

.menu-link{
    text-decoration: none;
    color: black;
    padding: 2px;
    display: flex;
    justify-content: space-between;

}

.menu-link:hover{
    background-color: #CDCDCD;
}

.caret-right{
    width: 20px;
    transform: rotate(-90deg);
}

.menu-box.active {
    opacity: 1;
}   
