.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* --- Detail utilisateur box --- */
.box-user {
    background-color: white;
    border-radius: 1rem;
    width: 12%;
    height: 20%;
    border: 1px solid #ccc;
}

#photo {
    width: 3rem;
}

.user-photo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
/* --- Detail utilisateur box --- */

.box-avis {
    width: 90%;
    height: 20%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.commentaire {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

.separateurFiltres {
    width: 95%;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .box-user {
        width: 25%;
    }
    .detail {
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .box-user {
        width: 30%;
    }
    .detail {
        gap: 1rem;
    }
}

@media (max-width: 426px) {
    h1 {
        white-space: nowrap;
        font-size: 1.75rem !important;
    }
    .detail {
        flex-direction: column;
        align-items: center;
    }
    .box-user {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 8rem;
        width: 90%;
        gap: 0.7rem;
        padding-top: 1.5rem;
    }
    .user-detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 5rem;
    }
    .detail-size {
        font-size: 0.75rem;
    }
    .user-photo {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-right: 1.25rem;
    }
    .user-photo p {
        font-size: 0.8rem;
    }
}
