/* Section id + section differents onglet */
.user-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
}

/* Section id utilisateur */
.user-id {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

.user-name img {
    width: 3rem;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    gap: 0.3rem;
}

/* --- Box avis --- */

.boxAvis {
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.avis {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* --- Detail utilisateur box --- */
.box-user {
    background-color: white;
    border-radius: 1rem;
    width: auto;
    height: 20%;
    padding: 0 0.5rem;
    border: 1px solid #ccc;
}

#photo {
    width: 3rem;
}

.user-photo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#icon-plus {
    width: 1.25rem;
}

/* --- Detail box avis --- */
.commentaire {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    width: auto;
}

.utilisateur {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.note {
    display: flex;
    justify-content: space-between;
}

.com {
    color: #7E7E7E;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.separateurFiltres {
    width: 95%;
    margin: 1rem 0;
    position: relative;
    bottom: 0;
}

.check {
    font-size: 1rem;
    border: none;
    background-color: white;
    cursor: pointer;
}

.check-green { 
    color: #267240;
}
.check-red {
    color: red;
 }

.valideAvis {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}

span {
    text-align: center;
}

/* --- Infos voyage --- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
}

.close {
    position: absolute;
    text-decoration: none;
    font-size: 1.2rem;
    color: #267240;
    top: 0.2rem;
    right: 0.6rem;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 0 0 0.5rem 0;
    color: #267240;
}

table {
  border-collapse: collapse;
  font-family:  Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  border-radius: 10px;
  overflow: hidden; /* pour arrondir si scroll */
}

table caption {
  text-align: left;
  padding: 8px 12px;
  font-weight: 600;
  color: #267240;
}

table thead th {
  text-align: center;
  font-size: 0.95rem;
  padding: 8px 12px;
  background: #ffffff;
  color: #267240;
}

table tbody td {
  padding: 8px 12px;
  font-size: 0.85rem;
  text-align: center;
}

table tbody tr:nth-child(even) {
  background: #f8fafc;
}

table tbody tr:nth-child(odd) {
  background: #ccc;
}

table tbody tr:hover {
  background: rgba(3,102,214,0.06);
}

.infos {
    position: relative;
    width: 80%;
    margin: 10rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0.5rem;
    padding-top: 0.5rem;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .box-user {
        width: 25%;
    }
    .detail {
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .box-user {
        width: 30%;
    }
    .detail {
        gap: 1rem;
    }
}

@media (max-width: 426px) {
    h1 {
        white-space: nowrap;
        font-size: 1.75rem !important;
    }
    .detail {
        flex-direction: column;
        align-items: center;
    }
    .box-user {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 8rem;
        width: 90%;
        gap: 0.7rem;
        padding-top: 1.5rem;
    }
    .user-detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 5rem;
    }
    .detail-size {
        font-size: 0.75rem;
    }
    .user-photo {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-right: 1.25rem;
    }
    .user-photo p {
        font-size: 0.8rem;
    }
}
