#contact-form {
    background-color: white;
    border-radius: 1rem;
    width: 25%;
    height: auto;
    margin:0 auto ;
    margin-top: 6.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.25rem, 5vw, 1.875rem);
    text-align: center;
    color: #267240;
    text-decoration: underline;
    text-shadow: 0 0.25rem 0.6rem rgba(38, 114, 64, 0.3);
    margin: 0 auto 0.6rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 80%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin: 0.5rem auto 0;
}

label {
    margin: 1rem auto 0 2rem;
}

textarea {
    height: 6rem;
}

#btnContact {
    margin: 1.25rem auto 0;
}

@media (max-width : 1024px) {
    #contact-form {
        width: 50%;
    }
}

@media (max-width : 1024px) {
    #contact-form {
        width: 70%;
    }
}