.userCovoit {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 1rem auto;
}

/* Section id utilisateur */
.user-id {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.87rem;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
    height: 8rem;
    margin-top: 2.5rem;
}

.user-name img {
    width: 3rem;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 0.62rem;
}

.user-info img {
    width: 1.56rem;
}

.user-info span {
    font-size: 0.87rem;
    font-family: Arial, sans-serif;
}

/* --- Covoiturage box --- */
.box-covoit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#date-covoit {
    margin: 0;
    font-size: clamp(0.7rem, 5vw, 1.5em);
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    color: #267240;
}
.info-covoit {
    margin: 0 auto 0;
    background-color: white;
    border-radius: 1rem;
    width: 50rem;
    height: 9rem;
    margin-bottom: 1.25rem;
}

.time-covoit {
    display: flex;
    align-items: center;
    padding-left: 1.8rem;
}

.start-time {
    width: 8%;
    height: 25%;
}

.start-time p {
    margin: 0;
}

.duree {
    color: #7E7E7E;
    margin: 0 4.7rem;
    font-size: 0.87rem;
}

.ligne {
    width: 12.5rem;
    height: 0.25rem;
    background-color: black;
}

.ligne:before {
    content: "";
    position: absolute;
    width: 0.62rem;
    height: 0.62rem;
    border-radius: 50%;
    border: 0.19rem solid black;
    transform: translateY(-35%);
    background: white;
}

.ligne:after {
    content: "";
    position: absolute;
    width: 0.62rem;
    height: 0.62rem;
    margin-left: 12rem;
    border-radius: 50%;
    border: 0.19rem solid black;
    transform: translateY(-35%);
    background: white;
}

.end-time {
    width: 8%;
    height: 25%;
    padding-left: 1.25rem;
}

.end-time p {
    margin: 0;
}

.nbr-place {
    font-size: 1.12rem;
    padding-left: 6.25rem;
}

.prix-place {
    font-size: 1.25rem;
    padding-left: 6.87rem;
}

.perso-covoit {
    display: flex;
    margin-top: 1.25rem;
    justify-content: space-around;
}

.perso {
    display: flex;
    align-items: center;
    padding-left: 1.87rem;
    gap: 0.94rem;
}

.icon-perso {
    width: 2.5rem;
}

.perso-avis p {
    margin: 0;
    display: flex;
    justify-content: center;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#btnAnnuler {
    background-color: rgb(216, 2, 2);
    width: auto;
    padding: 0 1rem;
}

#btnAnnuler:hover {
    background-color :rgb(168, 0, 0);
}

.btn-arrivee {
    width: auto;
    padding: 0 1rem;
}

.perso-covoit span {
    color: #267240;
}

/* --- Historique covoit --- */
#texteCovoit {
    margin-top: 7rem;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    accent-color: #267240;
}

#btnValider, #btnEnvoyer {
    height: 1.5rem;
    width: 6rem;
    font-size: 0.9rem;
}

.formAvis {
    background-color: white;
    border-radius: 1rem;
    padding: 0.7rem;
}

.formAvisCovoit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    justify-content: center;
    border: none;
}

.stars {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-bottom: 0.6rem;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 2rem;
    color: #bbb;
    cursor: pointer;
    transition: color 0.2s;
}

.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

.stars input:checked ~ label {
    color: gold;
}

h3, legend {
    font-size: 0.9rem;
    margin: 0;
    color: #267240;
}

.avis {
    flex-direction: column;
    align-items: center; 
    background-color: white;
    border-radius: 1rem;
    padding: 0.7rem;
}

.avis p, .avis legend {
    text-align: center;
    margin: 0; 
}

#note {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separateurFiltres {
    margin: 0.7rem auto 0.7rem;
}

.avis-covoit {
    display: flex;
}

/* --- Responsive --- */
@media (max-width: 768px) {
    .info-covoit {
        width: 95%;
    }

    .nbr-place {
        padding-left: 3rem;
    }

    #btnDetail {
        height: 2.5rem;
        margin: 0.6rem 1rem 0 23rem;
    }

    .perso-avis {
        font-size: 0.87rem;
        width: 3rem;
    }
}