/* --- Barre de recherche --- */
.nav-bar {
    background-color: white;
    width: 60%;
    height: 3.75rem;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,0.1);
    margin: 6.25rem auto 0;
}

.nav-choix {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
}

.nav-choix select, .nav-choix input[type="date"]{
    width: 100%;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
}

#btnNav {
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    background-color: #267240;
    color: white;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    transition: background 0.3s;
}

#btnNav:hover {
    background-color: #1f5d34;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.separateur {
    width: 0.125rem;
    height: 2.5rem;
    background-color: #7E7E7E;
    margin: 0 0.625rem;
}

.image-foret {
    width: 100%;
    margin-top: 10rem;
    display: block;
}

.texte-sur-image {
    position: absolute;
    font-size: clamp(1.25rem, 5vw, 3.75rem);
    color: #F0F0F0;
    text-shadow: 0 0.25rem 0.625rem rgba(0,0,0,0.3);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.foret {
    position: relative;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .nav-bar {
        width: 75%;
        padding-left: 0.625rem;
    }
    .nav-choix {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        width: 60%;
        height: 18.75rem;
        padding: 0;
    }
    #btnNav {
        border-radius: 0 0 1rem 1rem;
    }
    .separateur {
        display: none;
    }
    .nav-choix {
        padding: 0.625rem;
    }
}

@media (max-width: 426px) {
    .nav-bar {
        width: 80%;
    }

    .texte-sur-image {
        top: 70%;
    }
}
