/* Container global */
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Détail utilisateur --- */
#photo {
    width: 2rem;
}

.utilisateur {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

/* --- Box avis --- */
.commentaire {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
}

.box-avis {
    width: 90%;
    height: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.com {
    text-align: justify;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.date_avis{
    color: #83898e;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.separateurFiltres {
    width: 100%;
    margin: 1rem 0;
    position: relative;
    bottom: 0;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .commentaire {
        width: 50%;
    }
}

@media (max-width: 480px) {
    h1 {
        white-space: nowrap;
        font-size: 1.75rem !important;
    }

    .commentaire {
        width: 80%;
    }
}
