/* Formulaire inscription */
input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #D9D9D9;
    width: 34rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    text-align: center;
    border: 1px solid #ccc;
}

#formulaire {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

#btnConect {
    margin-top: 2.5rem;
}

.lien-membre {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #267240;
    font-style: italic;
    text-decoration: underline;
    padding: 0.5rem;
}

.password-container {
    position: relative;
}

.oeil {
    height: 20px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none; /* Empêche de sélectionner l'icône comme du texte */
}

/* --- Responsive --- */
@media (max-width: 480px) {
    h1 {
        white-space: nowrap;
    }
    input {
        width: 18.75rem;
        font-size: 1rem;
    }
}