/* Formulaire connexion */
#formulaire {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.lien-membre {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #267240;
    font-style: italic;
    text-decoration: underline;
    padding: 0.5rem;
}

.oeil {
    height: 20px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none; /* Empêche de sélectionner l'icône comme du texte */
}

/* --- Responsive --- */
@media (max-width: 480px) {
    h1 {
        white-space: nowrap;
    }
    input {
        width: 18.75rem;
        font-size: 1rem;
    }
}