.detail {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin: 6rem auto 1rem;
}

/* --- Detail utilisateur box --- */
.box-detail {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    width: 18%;
    border: 1px solid #ccc;
}

#photo {
    width: 3rem;
}

.user-photo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.note {
    text-decoration: none;
    color: black;
}

.note:hover {
    color: gold;
}

.user-icon {
    width: 1.87rem;
}

.detail-size {
    font-size: 1rem;
}

.user-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
}

h2 {
    font-size: 1.2rem;
    color: #267240;
}

/* --- Detail box --- */
.box-covoit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

#date-covoit {
    color: #267240;
    font-size: 1.37rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.info-covoit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    width: 37.5rem;
    height: 12.5rem;
    border: 1px solid #ccc;
}

.time-covoit {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.start-time {
    width: 8%;
    height: 25%;
    padding-right: 1.25rem;
}

.start-time p {
    margin: 0;
}

.duree {
    color: #7E7E7E;
    margin: 0 6.5rem;
    font-size: 0.9rem;
}

.ligne {
    width: 12.5rem;
    height: 0.25rem;
    background-color: black;
    margin: 0 1.5rem;
}

.ligne:before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 0.18rem solid black;
    transform: translateY(-35%);
    background: white;
}

.ligne:after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 12rem;
    border-radius: 50%;
    border: 0.18rem solid black;
    transform: translateY(-35%);
    background: white;
}

.end-time {
    height: 25%;
    padding-left: 1.25rem;
}

.end-time p {
    margin: 0;
}

.nbr-place {
    font-size: 1.1rem;
    padding: 1rem 0 0 4rem;
}

.prix-place {
    display: flex;
    gap: 5rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0 1rem 0;
    border: 1px solid #ccc;
}

.participe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.valid {
    display: none;
    align-items: flex-end;
    background-color: white;
    border-radius: 1rem;
    width: 50%;
    height: 25%;
    border: 1px solid #ccc;
}

.valid a {
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    margin-left: 1rem;
}

#valid-size {
    font-size: 0.8rem;
    text-align: center;
}

#notif-valid {
    display: flex;
    align-items: center;
    gap: 11rem;
}

#btnValid {
    font-size: 0.75rem;
    width: 3rem;
    height: auto;
    margin-right: 0.6rem;
}

#btnParticipeDesactive {
    opacity: 0.5;
    cursor: not-allowed;
}

#btnConnexion  {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .box-detail {
        width: 25%;
    }
    .detail {
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .detail {
        flex-direction: column;
        align-items: center;
    }
    .box-detail {
        width: 50%;
    }
    .detail {
        gap: 1rem;
    }
    #notif-valid {
        gap: 8.5rem;
    }
    .nbr-place {
        padding-left: 2.5rem;
    }
}

@media (max-width: 426px) {
    h1 {
        white-space: nowrap;
        font-size: 1.75rem !important;
    }
    /* --- Box chauffeur --- */
    .box-detail {
        width: 80%;
        padding-top: 1.5rem;
    }
    .user-detail {
        margin-top: 0.3rem;
    }
    .detail-size {
        font-size: 0.75rem;
    }
    .user-photo p {
        font-size: 0.8rem;
    }

    /* --- Box covoiturage --- */
    .info-covoit {
        width: 100%;
        padding: 0 0.5rem;
        height: 9rem;
    }
    #date-covoit {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .start-time, .duree, .end-time, .nbr-place {
        font-size: 0.75rem;
    }
    .ligne {
        width: 7.5rem;
    }
    .ligne:after {
        margin-left: 6.8rem;
    }
    .duree {
        margin: 0 3rem;
    }

    .prix-place p {
        font-size: 0.8rem;
    }

    #valid-size {
        font-size: 0.7rem;
    }
    #notif-valid {
        gap: 6rem;
        padding-bottom: 0.7rem;
    }
}
