/* Liste puce */
.user-espace {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin-top: 17.5rem;
    display: flex;
    gap: 3rem;
    list-style-type: none;
    justify-content: center;
}

.user-espace li.active {
    color: black;
    text-decoration: underline;
    text-decoration-color: #267240;
    text-decoration-thickness: 0.12rem;
    text-underline-offset: 0.62rem;
}

.user-box {
    margin-top: 5rem;
}

.user-box p {
    margin-top: 18.75rem;
    font-size: 1.5rem;
}

/* Styliser les checkboxes choix chauffeur */
#user-type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}

#user-type legend {
    display: none;
}

#user-type fieldset {
    border: none;       
}

#user-type label {      
    cursor: pointer;
    padding-right: 2.5rem;
}

#user-type input[type="radio"] {
    width: 1rem;
    height: 1rem;
    accent-color: #267240;
}

#btnRole {
    height: 1.5rem;
    width: 6rem;
}

/* Section id + section differents onglet */
.user-menu {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

#credit {
    text-align: center;
    margin: 3rem 0 0;
}

/* Section id utilisateur */
.user-id {
    align-content: center;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.87rem;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

.user-name img {
    width: 3rem;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    margin-left: 0.62rem;
}

.user-info img {
    width: 1.56rem;
}

.user-info span {
    font-size: 0.87rem;
    font-family: Arial, sans-serif;
}

/* Section choix onglet profil */
.passagerLink {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.87rem;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
    height: 20%;
}

.chauffeurLink {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.87rem;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

.passagerLink a, .chauffeurLink a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

.passagerLink li, .chauffeurLink li {
    margin-top: 1rem;
    display: flex;
}

.passagerLink li :hover, .chauffeurLink li :hover {
    transform: scale(1.05);
}

#caret-right {
    width: 1.25rem;
    transform: rotate(-90deg);
}

/* Choix chauffeur */
h2 {
    margin: 0.62rem auto 1.25rem;
    color: #267240;
    font-size: 1.5rem;
    text-align: center;
}

#chauffeur-info {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 1.25rem;
    padding: 1rem;
    flex-direction: column;
    width: 40%;
    margin: 1.25rem auto 1rem;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

#chauffeur-info label {
    display: flex;
    align-items: center;
    gap: 0.65rem;
    padding: 0.3rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-pref fieldset {
    border: none;      
}

.user-pref {
    display: flex;
}

.user-pref legend {
    margin-left: 1.25rem;
}


.user-pref input[type="radio"] {
    width: 1rem;
    height: 1rem;
    accent-color: #267240;
}

.energie {
    display: flex;
    gap: 0.2rem;
}

.separateurFiltres {
    margin-top: 1rem;
}

.pref {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ajoutPref {
    height: 1.3rem;
}

input {
    border: 0.125rem solid;
    border-radius: 0.4rem;
}

/* Bouton */
#btnInfo {
    margin-top: 1.25rem;
}

/* Section ajout compte employé */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
}

.close {
    position: absolute;
    text-decoration: none;
    font-size: 1.2rem;
    color: #267240;
    top: 0.2rem;
    right: 0.6rem;
}

.modal h2 {
    text-align: center;
    text-decoration: underline;
    margin: 0 0 0.5rem 0;
    color: #267240;
}

.compte {
    position: relative;
    width: 25%;
    margin: 15rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.62rem rgba(0,0,0,0.15);
}

.compte input {
    width: 70%;
    height: 1.3rem;
    text-align: center;
}

.compte label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

#btnCompte {
    margin: 1.25rem auto;
    height: 1.7rem;
    width: 7rem;
}

#btnSupCompte {
    margin: 1rem auto 0.7rem;
    height: 1.7rem;
}

/* --- Graphique --- */

.graphique {
    margin: 3rem auto 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#graphique1, #graphique2 {
    width: 40%;
}

/* --- Liste compte --- */
.compteListe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#liste {
    text-align: center;
    height: 1.5rem;
    border: 0.125rem solid;
    border-radius: 0.4rem;
}

/* --- Responsive --- */
@media (max-width: 1440px) {
    /* --- Box infos chauffeur --- */
    #chauffeur-info {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    /* --- Box lien passager / employé / admin --- */
    .passagerLink li {
        gap: 5rem;
    }

    /* --- Graphique --- */
    .graphique {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    #graphique1, #graphique2 {
            width: 60%;
        }

    /* --- Modal création / suppression compte --- */
    .compte {
        width: 50%;
    }
}

@media (max-width: 768px) {
    /* --- Box lien passager / employé / admin --- */
    .passagerLink li {
        gap: 1.87rem;
    }

    /* --- Box infos chauffeur --- */
    #chauffeur-info {
        width: 80%;
    }
}

@media (max-width: 426px) {

    #user-type label {
        padding: 0;
    }

    /* --- Section card utilisateur / section liens --- */
    .user-id {
        margin: 0 auto;
        font-size: 0.87rem;
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem;
        width: 80%;
    }
    .user-menu {
        flex-direction: column;
    }

    .user-name {
        flex-direction: row;
    }
    .user-name img {
        width: 2rem;
    }
    .user-info {
        margin: 0;
        gap: 0.5rem;
    }
    .user-info span {
        font-size: 0.75rem;
    }
    .passagerLink, .chauffeurLink {
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
    }
    .passagerLink li, .chauffeurLink li {
        justify-content: center;
    }

    /* --- Radio --- */
    #user-type label {
        font-size: 0.87rem;
    }
    #user-type {
        flex-direction: column;
    }

    /* --- Section card voiture / pref --- */
    .voitureInfo label {
        font-size: 0.87rem;
        white-space: nowrap;
        flex-direction: column;
    }
    .user-pref {
        flex-direction: column;
        align-items: center;
    }
    .user-pref label {
        display: flex;
        flex-direction: row;
    }
    .energie {
        flex-direction: column;
    }

    /* --- Graphique --- */
    #graphique1, #graphique2 {
        width: 98%;
    }

    /* --- Modal création / suppression compte --- */
    .compte {
        width: 80%;
    }
}