/* Formulaire inscription */
input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #D9D9D9;
    width: 34rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    text-align: center;
    border: 1px solid #ccc;
}

#formulaire {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#btnInscri {
    margin-top: 3rem;
}

.lien-membre {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #267240;
    font-style: italic;
    text-decoration: underline;
    padding: 0.5rem;
}

.password-container {
    position: relative;
}

.oeil {
    height: 20px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none; /* Empêche de sélectionner l'icône comme du texte */
}

.strength-meter {
    height: 5px;
    width: 18.75rem;
    background-color: #eee;
    margin-top: 5px;
    border-radius: 3px;
    overflow: hidden;
}

.strength-bar {
    height: 100%;
    width: 0%;
    transition: width 0.3s ease, background-color 0.3s ease;
}

/* Couleurs des états */
.weak { width: 33%; background-color: #ff4d4d; }
.medium { width: 66%; background-color: #ffa500; }
.strong { width: 100%; background-color: #2ecc71; }

.progression {
    display: flex;
    gap: 1rem;
}

/* --- Responsive --- */
@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }
    
    input {
        width: 18rem;
        font-size: 0.8rem;
    }
    .strength-meter {
        width: 9rem;
    }
}

