/* Titre */
h1 {
    margin-bottom: 4.375rem;
}

h2 {
    text-align: center;
    font-style: italic;
    color: #267240;
    margin-bottom: 0.625rem;
}

.text-mention {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.text-mention a {
    text-decoration: none;
    color: #267240;
    font-style: italic;
}

#text-separation {
    width: 80%;
    height: 0.0625rem;
    background-color: #267240;
    margin: 0 auto;
}

em {
    color: #267240;
}

/* --- Responsive --- */
@media (max-width: 480px) {
    h1 {
        white-space: nowrap;
    }
}
