/* Titre */
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    text-decoration-color: #267240;
    text-underline-offset: 15px;
}

.detail {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 350px;
}

/* --- Detail utilisateur box --- */
.box-detail {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 16px;
    width: 18%;
    height: 350px;
}

#photo {
    width: 50px;
}

.user-photo {
    display: flex;
    gap: 20px;
}

.user-icon {
    width: 30px;
}

.detail-size {
    font-size: 14px;
}

.user-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}


/* --- Detail box --- */
.box-covoit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#date-covoit {
    color: #267240;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}

.info-covoit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
    width: 600px;
    height: 200px;
}

.time-covoit {
    display: flex;
    align-items: center;
}

.start-time {
    width: 8%;
    height: 25%;
    padding-right: 20px;
}

.start-time p {
    margin: 0;
}

.duree {
    color: #7E7E7E;
    margin: 0 75px;
    font-size: 14px;
}
.ligne {
    width: 200px;
    height: 4px;
    background-color: black;
}

.ligne:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: black solid 3px;
    transform: translateY(-35%);
    background: white;
}

.ligne:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 190px;
    border-radius: 50%;
    border: black solid 3px;
    transform: translateY(-35%);
    background: white;
}

.end-time {
    height: 25%;
    padding-left: 20px;
}

.end-time p {
    margin: 0;
}

.nbr-place {
    font-size: 18px;
    padding-left: 100px;
    padding-top: 10px;
}

.prix-place {
    display: flex;
    gap: 80px;
    background-color: white;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

#btnReserve {
    font-family: "Open Sans", sans-serif;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #267240;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

#btnReserve:hover {
    background-color: #1f5d34;
}

.participe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.valid {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    border-radius: 16px;
    width: 50%;
    height: 30%;
}

.valid a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 15px;
}

#valid-size {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#notif-valid {
    display: flex;
    align-items: center;
    gap: 180px;
}

#btnValid {
    font-family: "Open Sans", sans-serif;
    width: 50px;
    margin-right: 10px;
    background-color: #267240;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

#btnValid:hover {
    background-color: #1f5d34;
}


/* --- Responsive --- */
@media (max-width: 1024px) {
    .box-detail {
        width: 25%;
    }

    .detail {
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .box-detail {
        width: 30%;
    }

    .info-covoit {
        width: 450px;
    }

    .detail {
        gap: 30px;
    }

    #notif-valid {
        gap: 150px;
    }

    .nbr-place {
        padding-left: 40px;
    }
}

@media (max-width: 426px) {
    h1 {
        white-space: nowrap;
        font-size: 28px;
    }

    .detail {
        flex-direction: column;
        align-items: center;
        margin-top: 250px;
    }

    .box-detail {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 130px;
        width: 90%;
        gap: 10px;
        padding-top: 20px;
    }

    .user-detail {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 80px;
    }

    .detail-size {
        font-size: 12px;
    }

    .user-photo {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-right: 20px;
    }

    .user-photo p {
        font-size: 14px;
    }

    .info-covoit {
        width: 100%;
        padding: 0 15px;
        height: 150px;
    }

    #date-covoit {
        font-size: 16px;
    }

    .start-time, .duree, .end-time, .nbr-place {
        font-size: 12px;
    }

    .ligne {
        width: 120px;
    }

    .ligne:after {
        margin-left: 110px;
    }

    .duree {
        margin: 0 50px;
    }

    #notif-valid {
        gap: 100px;
    }

}
