body {
    margin: 0;
    background-color: #F0F0F0;
    font-family: "Open Sans", sans-serif;
}

header{
    position: fixed;
    top: 0;
    background-color: #267240;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 100%;
}

.logo{
    width: 60x;
    height: 60px;
    border-radius: 50%;
}

.nav-head a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.rechercher, .menu{
    display: flex;
    align-items: center; 
}

.nav-head {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
}

.nav-links{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;

}

.menu-img {
    width: 75px;  
}

.loupe{
    height: 30px;
}


