/* --- Titre --- */
h1 {
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
    font-size: clamp(32px, 5vw, 44px);
    color: #267240;
    text-shadow: 0 4px 10px rgba(38, 114, 64, 0.3);
}

/* --- Barre de recherche --- */
.nav-bar {
    background-color: white;
    width: 60%;
    height: 60px;
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin:0 auto;
}

.nav-choix {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nav-choix select,
#date {
    width: 100%;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 8px;
}

#btnNav {
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    background-color: #267240;
    color: white;
    border: none;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    transition: background 0.3s;
}

#btnNav:hover {
    background-color: #1f5d34;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.separateur {
    width: 2px;
    height: 40px;
    background-color: #7E7E7E;
    margin: 0 10px;
}

select{
    height: 100%;
}

/* --- Images + descriptions --- */
.descri {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
}

.image-voiture,
.text-box {
    width: 100%;
    max-width: 350px;
    height: 215px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background-color: white;
    text-align: center;
}

.image-descri {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    color: #267240;
    font-size: 20px;
    margin: 0;
    padding-top: 15px;
}

.text {
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;

}

/* --- Image forêt + texte --- */
.image-foret {
    width: 100%;
    margin-top: -225px;
    height: 480px;
    position: absolute;
    z-index: -1;
}


/* --- Responsive --- */
@media (max-width: 1024px) {

    .nav-bar{
        width: 75%;
        padding-left: 10px;
    }

    .nav-choix {
        padding: 0;
    }

    .descri {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        gap: 30px;
    }

    .image-descri {
        flex-direction: row;
        gap: 30px;
    }

    .image-foret{
        margin-top: 0;
    }
}

@media (max-width: 768px) {

    .nav-bar{
        flex-direction: column;
        width: 60%;
        height: 300px;
        padding: 0;
    }

    #btnNav {
        border-radius: 0 0px 16px 16px;
    }
    
    .separateur {
        display: none;
    }

    .nav-choix {
        padding: 10px;
    }
}

@media (max-width: 426px) {
     .nav-bar{
        width: 80%;
    }
    
    .image-descri {
        flex-direction: column;
        width: 80%;
    }

    .image-foret{
        height: 300px;
    }

}