/* Titre */
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    text-decoration-color: #267240;
    text-underline-offset: 15px;
}

/* Formulaire inscription */
input{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #D9D9D9;
    width: 550px;
    height: 40px;
    border: #D9D9D9;
    border-radius: 20px;
    text-align: center;
}

#formulaire{
    position: relative;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
}

#btnInscri{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #267240;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: #267240;
    color: white;
    margin-top: 50px;
}

#btnInscri:hover {
    background-color: #155f2f;
    transition-duration: 0.5s;
}

.lien-membre{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #267240;
    font-style: italic;
    text-decoration: underline;
    padding: 8px;
} 

/* --- Responsive --- */
@media (max-width: 426px) {

    h1 {
        font-size: 28px;
    }
    input {
        width: 300px;
        font-size: 14px;
    }
    #btninscri {
        margin-top: 50px;
    }

}


