/* Titre */
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

/* --- Barre de recherche --- */
.nav-bar {
    background-color: white;
    margin-top: 300px;
    width: 80%;
    height: 60px;
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nav-choix {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nav-choix select,
#date {
    width: 100%;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 8px;
}

button {
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #267240;
    color: white;
    border: none;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #1f5d34;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.separateur {
    width: 2px;
    height: 40px;
    background-color: #7E7E7E;
    margin: 0 10px;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .nav-bar{
        flex-direction: column;
        width: 60%;
        height: 300px;
    }

    #btn {
        border-radius: 0 0px 16px 16px;
    }

    .separateur{
        display: none;
    }
}

    @media (max-width: 426px) {
    h1{
        font-size: 24px;
    }
}